body{
    padding: 100px;
}
.submit-area{

border-radius: 10px;
box-shadow: 5px 5px 5px 2px gray;padding: 30px;
margin-top: 40px;
}

#transaction-area{
    display:none;
}
.deposit{

    background-color: slateblue;
}
.withdraw{

    background-color : tomato;
}
.balance{

background-color: orange;

}
.status{

padding : 20px;
    margin: 0px 20px;border-radius: 10px;
    color: white;
}